---
description: How to verify genuine assets?
---

# Asset verification

